<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navigation')%>

    <main
      class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In esse est
          iste, eius dolorem asperiores odit ullam. Quod ut magni officiis,
          commodi, labore iure delectus recusandae mollitia perspiciatis in
          similique asperiores, dignissimos dolores harum ea. Deleniti sunt
          porro eius culpa corrupti, voluptatum dolores, laudantium suscipit
          doloribus repellendus dolorem accusantium ullam veritatis. Facere
          dolore ad odio est rerum dolor nemo voluptate! Amet voluptatum labore
          quos ab debitis? Autem accusantium, deserunt consequatur repellendus
          dolores, sed molestias sapiente quaerat perspiciatis voluptate cum
          aliquam fugiat nesciunt expedita eveniet magni quo totam assumenda
          aspernatur quisquam neque. Distinctio qui excepturi obcaecati enim
          quae provident libero, suscipit eius dolor nulla, nihil molestiae
          molestias soluta illum doloribus vitae laboriosam pariatur ullam
          expedita eum hic adipisci officiis. Neque nihil, quasi sit natus, rem
          temporibus vel tempora voluptate animi esse est doloribus perferendis
          fuga quod fugit facere minus! Et asperiores sint nobis magni?
          Voluptate placeat, esse adipisci autem nihil asperiores, ducimus harum
          hic quisquam sunt facere, blanditiis explicabo iusto. Doloremque
          recusandae facilis modi officia sint, cum ab est distinctio illo
          laudantium commodi tenetur numquam quas itaque officiis molestias
          aperiam eos? Nulla ipsum ullam illum, aperiam molestias dolor modi,
          commodi similique ex laborum voluptatum? Dicta quod libero quibusdam
          illum nulla fuga.
        </p>
      </section>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
