<footer>
  <h1>Lorem, ipsum dolor.</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil non dolorem
    ab cum nulla hic earum assumenda autem expedita ipsum, placeat illo iste ad
    temporibus distinctio labore impedit minima similique pariatur tempora
    debitis tempore officiis odit? Repudiandae a molestias ad consectetur ullam
    commodi, vel sapiente vitae dolorum numquam beatae laboriosam ducimus
    nostrum expedita dignissimos laudantium et atque ut. Nesciunt placeat
    numquam earum voluptates aspernatur alias necessitatibus possimus cum ex
    quibusdam totam, iste esse culpa, vero facere modi, enim dolor voluptatum
    cumque harum accusamus fugiat temporibus expedita? Aliquid, maxime. Aliquam
    modi maiores in placeat tempora rem accusamus blanditiis fugit, nam nemo.
  </p>
</footer>
