<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
  </ul>
</nav>
<nav>
  <ul>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>
<nav>
  <ul>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
</nav>
